//- <h1><%= message %></h1>
//- <h2><%= error.status %></h2>
//- <pre><%= error.stack %></pre>

extends layout

block content
  h1 Error!!
  p #{message}

  h2 #{error.status}
//-   h2 #{error.stack}
  if errors
   ul
    for error in errors
     li!= error.msg
